<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="Zealot publication smoke">
        <activity
            android:name=".ConsumerActivity"
            android:exported="false" />
    </application>
</manifest>
